## Descriptive Analyses: how are the users using their phone?

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Processed Data/by_second_clean.csv')

In [1]:
N = len(df.userid.unique())
Xn = df.shape[0]
XN = 60*24*14*N
S = 60*60*24*14
X1n = before.shape[0]
print(f'There are {N} students with at least one event registered.')
print(f'In total, they have touched the screen at least once for {Xn:,} minutes.')
print()
print(f'By subtracting the amount of all the minutes they have (minutes x hours x days x users) and the amounts of \
    \nminutes they have touched the phone at least once, we get:\n({60} x {24} x {14} x {N:,}) - {Xn:,} =\n = {XN:,} - {Xn:,} = \
    \n = {XN-Xn:,}, \nOr about: { round(((XN-Xn) / (XN))*100, 2)} % of the total minutes we all have.')
print(f'The same process can be applied, with more computation, down to the second:\
there are {60}x{60}x{24}x{14} = {S:,} seconds in two weeks, and users have touched their screen for \
')

NameError: name 'final_data' is not defined

In [4]:
df = pd.read_csv("Processed Data/touch_sensor_Fluve2.csv")

In [5]:
df

         userid experimentid            timestamp  touches
0             1   wenetItaly  2020-11-12 11:17:00        1
1             1   wenetItaly  2020-11-12 11:18:00        1
2             1   wenetItaly  2020-11-12 11:21:00        1
3             1   wenetItaly  2020-11-12 11:22:00        1
4             1   wenetItaly  2020-11-12 11:23:00        1
...         ...          ...                  ...      ...
1235531     265   wenetItaly  2020-11-25 17:50:00        1
1235532     265   wenetItaly  2020-11-25 17:52:00        1
1235533     265   wenetItaly  2020-11-25 18:00:00        1
1235534     265   wenetItaly  2020-11-25 18:01:00        1
1235535     265   wenetItaly  2020-11-25 18:02:00        1

[1235536 rows x 4 columns]